# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# Build output
dist/
build/

# macOS system files
.DS_Store

# IDE files
.vscode/
.idea/

# Miscellaneous files
*.tmp
*.temp
*.bak
*.swp